<div class="signform">
  <div class="container">
    <div class="form">

      <%= render '/partials/header'%>

      <h2>Bienvenue sur PantoForm !</h2>
      <%= form_for(:session, url: signin_path) do |f| %>
        <div>
          <%= f.label 'Votre Email', :class => 'form_label'%>
          <%= f.email_field :email, :placeholder => "Email", :class => 'field' %>
        </div>

        <div>
          <%= f.label 'Votre Mot de Passe', :class => 'form_label'%>
          <%= f.password_field :password, :placeholder => "Password", :class => 'field' %>

        </div>
        <div>
          <%= f.submit "Connectez vous !", :class => "form_btn"%>
        </div>
      <% end %>
      <h2>Pas encore inscrit ?</h2>
        <%= link_to "Inscrivez vous !", '/signup', :class => "form_btn"%>


    </div>
  </div>
</div>
