<div class="articleform">
<%= form_for(article) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "erreur") %> n'a pas permis la sauvegarde de votre article</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fr_name %>
    <%= f.text_field :fr_name %>
  </div>

  <div class="field">
    <%= f.label :en_name %>
    <%= f.text_field :en_name %>
  </div>

  <div class="field">
    <%= f.label :zh_name %>
    <%= f.text_field :zh_name %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :tags %>
    <%= f.text_field :tags %>
  </div>

  <div class="field">
    <%= f.label 'Thème Pantopie 1'%>
    <%= f.collection_select(:theme_ids, Theme.all, :id, :full_theme, {include_blank: true})%>
  </div>

  <!--<div class="field">
    <%= f.label 'Thème Pantopie 2'%>
    <%= f.collection_select(:theme_ids, Theme.all.order(:id), :id, :name)%>
  </div> -->


  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
</div>
