
<div class="articleform">

  <h2>
    <% if current_page?('/articles/new')%>
      Créer un article
    <% else %>
      Editer un article
    <%end%>
  </h2>

<%= form_for(article) do |f| %>
<div class="left-field">
  <div class="field">
    <%= f.text_field :fr_name, {placeholder: "Nom en Français"} %>
    <%= f.error_tags :fr_name%>
  </div>

  <div class="field">
    <%= f.text_field :en_name, {placeholder: "Nom en Anglais"} %>
    <%= f.error_tags :en_name%>
  </div>

  <div class="field">
    <%= f.text_field :zh_name, {placeholder: "Nom en Chinois"} %>
    <%= f.error_tags :zh_name%>
  </div>
</div>

<div class="right-field">
  <div class="field">
    <%= f.text_field :date, {placeholder: "Dates clés"} %>
  </div>

  <div class="field">
    <%= f.text_field :tags, {placeholder: "Quelques tags ? (à séparer avec quelques virgules !)"} %>
  </div>

  <div class="checkbox_list">
    <%= f.collection_check_boxes(:theme_ids, Theme.all, :id, :full_theme, {}, {class: "checkbox", :multiple=>true}) do |b|%>
      <%= b.label{b.check_box + b.text} %>
    <%end%>
  </div>
</div>

  <div class="field">
    <%= f.text_area :content, {placeholder: "(In)définition de votre sujet"} %>
  </div>

  <div class="bottom_form">

    <%= link_to 'Retour à l\'index', articles_path, id: "backlink" %>
    <div class="button-crud">
      <%= f.submit 'Publier' %>
    </div>
  </div>
<% end %>
</div>
