<div class="articleform">
<%= form_for(article) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "erreur") %> n'a pas permis la sauvegarde de votre article</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nom du sujet en Français" %>
    <%= f.text_field :fr_name %>
  </div>

  <div class="field">
    <%= f.label "Nom du sujet en Anglais" %>
    <%= f.text_field :en_name %>
  </div>

  <div class="field">
    <%= f.label "Nom du sujet en Chinois (Caractères)" %>
    <%= f.text_field :zh_name %>
  </div>

  <div class="field">
    <%= f.label "Dates clées du sujet" %>
    <%= f.text_field :date %>
  </div>

  <div class="field">
    <%= f.label "(In)Définition de votre sujet" %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label "Quelques tags ? (à séparer avec quelques virgules !)" %>
    <%= f.text_field :tags %>
  </div>

  <div class="field">
    <%= f.label "Thèmes de la Pantopie se rapportant à cet article" %>
    <%= f.collection_select(:theme_ids, Theme.all, :id, :full_theme, {include_blank: true}, {:multiple=>true, size: "3"})%>
    <%= f.collection_select(:theme_ids, Theme.all, :id, :full_theme, {include_blank: true}, {:multiple=>true, size: "3"})%>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
</div>
