<p id="notice"><%= notice %></p>

<h1>Articles</h1>
<%= link_to 'New Article', new_article_path %>
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Nom Français</th>
      <th>Nom Anglais</th>
      <th>Nom Chinois</th>
      <th>Dates Clés</th>
      <th>Indefinition</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.author.first_name + ' ' + article.author.last_name%></td>
        <td><%= article.fr_name %></td>
        <td><%= article.en_name %></td>
        <td><%= article.zh_name %></td>
        <td><%= article.date %></td>
        <td><%= article.content %></td>
        <td><%= article.tags %></td>
        <tr class='app_crud'>
          <td><%= link_to 'Show', article %></td>
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


