<p id="notice"><%= notice %></p>

<!--<p>
  <strong>Nom de l'Auteur</strong>
   @author.first_name
</p>-->

<p>
  <strong>Nom Français</strong>
  <%= @article.fr_name %>
</p>

<p>
  <strong>Nom Anglais</strong>
  <%= @article.en_name %>
</p>

<p>
  <strong>Nom Chinois</strong>
  <%= @article.zh_name %>
</p>

<p>
  <strong>Dates Clés</strong>
  <%= @article.date %>
</p>

<p>
  <strong>Indfinition</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Tags</strong>
  <%= @article.tags %>
</p>

<p>Voir les articles de <%= link_to @article.author.full_name, @article.author%></p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
