  <p id="notice"><%= notice %></p>

<!--<p>
  <strong>Nom de l'Auteur</strong>
   @author.first_name
</p>-->
<div class="titlebar">
  <div class="toptitle">
    <h2><%= @article.fr_name %></h2>
    <% if @article.author == current_author %>
        <%= link_to 'Editer', edit_article_path(@article), class: "button-crud" %>
        <%= link_to 'Supprimer', @article, method: :delete, data: { confirm: 'Êtes vous sur ?' }, class: "button-crud" %>
    <% end %>
  </div>
</div>

<div class="pagecontent bg-3">

<div class="blocks">

  <div class="mainblock border-top-red">
    <strong>Indfénition</strong> <br>
    <%= @article.content %>
    <div id="comment_admin">
      <% if current_author.is_admin? %>
          <%= render 'commentform', article: @article %>
      <%else%>
          <strong>Le commentaire d'Eric : </strong> <br>
          <%= @article.comment%>
      <%end%>
    </div>
  </div>

  <div class="sideblock border-top-red">
    <div class="barre">
      <strong>Nom Anglais</strong>
      <%= @article.en_name %> <br>
      <strong>Nom Chinois</strong>
      <%= @article.zh_name %> <br>
    </div>
    <div class="barre">
      <strong>Dates Clés</strong>
      <%= @article.date %> <br>
      <strong>Tags</strong>
      <%= @article.tags %> <br>
    </div>
    <div class="barre">
      <strong>Thèmes liés</strong>
      <%@article.themes.each do |theme|%>
        <span class ="article_theme"><%= link_to theme.full_theme, theme%></span>
      <% end %>
    </div>
    <div class="barre">
      <p><strong>Auteur </strong><%= link_to @article.author.full_name, @article.author%></p>
      <%= link_to 'Retour à l\'index', articles_path %>
    </div>
  </div>

</div>
