

<div class="titlebar">
  <div class="toptitle">
    <h2>Liste des articles de <%= @author.full_name %></h2>
    <span class="button-crud">
      <% if @author == current_author %>
        <%= link_to 'Edit', edit_author_path(@author) %>
      <%end%>
    </span>
  </div>
</div>

<div class="pagecontent bg-1">
    <% @author.articles.each do |a|%>
    <div class="block <%=a.random_color%>">
      <div class="block-margin">
          <span class="block-content"><%=a.fr_name%></span>
          <%= link_to "Lire l'article", a, class: "block-link"%>
      </div>
    </div>
    <% end %>
  </ul>
</div>
