<p id="notice"><%= notice %></p>
<div class="banner">
  <h2>Profil de <%= @author.full_name %></h2>
</div>
<h2>Liste d'articles de <%= @author.full_name%></h2>
<ul>
  <% @author.articles.each do |a|%>
    <li><%= link_to a.fr_name, a%></li>
  <% end %>
</ul>
<% if @article.author == current_author %>
  <%= link_to 'Edit', edit_author_path(@author) %>
<%end%>
 |
<%= link_to 'Back', authors_path %>
