<!DOCTYPE html>
<html>
  <head>
    <title>PantoForm</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Cabin|Source+Serif+Pro" rel="stylesheet">
  </head>

  <body>
    <div class="content">
      <div class="responsive-bloc">
        <p>
          Ce site n'est pas disponible dans cette taille d'écran
          <br>
          Essayez d'utiliser ce site avec un ordi par exemple, je pense que ça va marcher
        </p>

        <%= image_tag("logo-black.png")%>
      </div>

      <%= render '/partials/header'%>
      <%= yield %>

    </div>
  </body>
</html>
