<!DOCTYPE html>
<html>
  <head>
    <title>PantoForm</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Cabin|Source+Serif+Pro" rel="stylesheet">
  </head>

  <body>
    <div class="content">
      <%= render '/partials/header'%>
      <%= yield %>
    </div>
  </body>
</html>
